/* General setup */

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  letter-spacing: 0.1px;
}

/* Typography */

h1, h2, nav {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 0;
}

h2 + p {
  text-indent: 2rem;
}

p {
  line-height: 1.6;
  margin: 1.6em 0;
}

ul, ol {
  line-height: 1.6;
  margin: 1.6em 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: upper-roman;
}

a:link {
  color: #ed5a5a;
}

a:visited {
  color: #a04242;
}

a:focus,
a:hover {
  color: #ff7b7b;
  background-color: #fff9cc;
  text-decoration: none;
  outline: none;
}

a[href*="http"] {
  padding-right: 16px;
  background: url("external-link-52.png") no-repeat right center;
  background-size: 14px 14px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

nav li {
  flex: 1;
}

nav a {
  display: block;
  padding: 10px;
  border: 2px solid #aa6666;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
  text-align: center;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}